@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sixtyfour&display=swap');

html, body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: rgb(254, 254, 254);
}

p {
    margin: 0;
    padding: 0;
}

#calculatorBody {
    display: flex;
    flex-direction: column;
    width: min(92vw, 400px);
    height: min(90vh, 680px);
    aspect-ratio: 400 / 650;
    box-sizing: border-box;
    
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: clamp(16px, 4vw, 30px);
    padding-bottom: clamp(16px, 4vw, 50px);
    padding-top: clamp(16px, 4vw, 15px);
    gap: clamp(12px, 3vw, 20px);


    background-color: rgb(236, 236, 236);
    
    background-image: url(imgs/noise.svg);
    background-repeat: repeat;
    background-blend-mode: multiply;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15),
                0px -8px  20px inset rgba(0, 0, 0, 0.4),
                0px 1px 6px 1px inset rgba(255, 255, 255, 0.9); 
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;

    font-family: "IBM Plex Mono", monospace;
    font-style: normal;

}

#power {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

#powerLabel {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.726);
}

#circle {
    height: 8px;
    width: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.457);
    border-radius: 50%;
    background-color: rgb(16, 176, 16);

    box-shadow: 0px 1px 2px inset rgba(255, 255, 255, 0.509);
}

#label {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: italic;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: -10px;
    color: rgba(0, 0, 0, 0.5);
    
}

#type {
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

#plus {
    color: purple;
}

#display {
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100px;
    width: auto;
    box-sizing: border-box;
    padding-top: 14px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;

    border: 1px solid rgba(0, 0, 0, 0.368);
    border-radius: 6px;

    background-color: rgb(237, 240, 234);
    box-shadow: 0px 2px 40px inset rgba(51, 67, 37, 0.2),
                0px 1px 5px 1px inset rgba(255, 255, 255, 0.9);

    color: rgba(0, 0, 0, 0.609);
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 20;

    gap: 10px;
}
#labelPrev {
    font-size: 10px;

}

#labelPrev:empty {
    visibility: hidden;
}


#labelCurrent {
    font-size: 24px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.controlPanel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    grid-gap: .5rem;
    margin-top: 45px;
    box-shadow: 0px 1px 20px inset rgba(19, 19, 19, 0.15);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    padding: 8px;

}

button {
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 12px;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2),
                0px -4px 5px inset rgba(0, 0, 0, 0.2),
                0px 1px 3px 1px inset rgba(255, 255, 255, 0.7);

    font-family: "IBM Plex Mono", monospace;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 8px;

    transition: filter 150ms ease, transform 100ms ease;
}

button:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2),
    0px 0px 6px inset rgba(0, 0, 0, 0.2);
    padding-bottom: 4px;
    filter: brightness(0.95);
}

#btnDecimal {
    background-color: rgb(249, 249, 249);
    color: rgba(0, 0, 0, 0.7);
}

#btnRemainder {
    background-color: rgb(75, 75, 75);
    color: rgba(255, 255, 255, 0.9);
}

#btnEquals {
    grid-column: 3/5;
    background-color: rgb(33, 140, 33);
    color: rgba(255, 255, 255, 0.9);
    text-align: right;
    padding-right: 33px;
}

.controlPanel .digits {
    background-color: rgb(249, 249, 249);
    color: rgba(0, 0, 0, 0.7);
}

.controlPanel .operators {
    background-color: rgb(75, 75, 75);
    color: rgba(255, 255, 255, 0.9);
}

.controlPanel .functions {
    background-color: purple;
    color: rgba(255, 255, 255, 0.9);
}